{% extends 'user_base.html' %}

{% block meta %}
<title>Django CMS</title>
{% endblock meta %}


{% block content %}
<h1 class="text-center">Recent Posts</h1>
<div class="container">
    <div class="row">
        {% for p in data %}
        <div class="col-sm-4">
            <div class="card mb-5">

                {% if p.featured_image %}
                <img class="card-img-top img-responsive" src="{{ p.featured_image.url }}">
                {% else %}
                <img class="card-img-top" src="https://dummyimage.com/200x100.jpg?text=Post" alt="">
                {% endif %}

                <div class="m-2">
                    <span class="fa fa-user"> {{ p.created_by.name }}</span> |
                    <span class="fa fa-clock-o"> {{ p.created_on | timesince }} ago</span>
                </div>

                <div class="card-body">
                    <h4 class="card-title">{{ p.title }}</h4>

                    {% if p.description %}
                    <p class="card-text">{{ p.description }}</p>
                    {% else %}
                    <p>Preview not provided.</p>
                    {% endif %}

                    <a href="{% url 'viewpost' url=p.slug %}">[Read More]</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% include 'user_footer.html' %}